<!DOCTYPE html>
{% extends "base.html" %}

<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{% block title %}{% endblock title %}</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="" />
  </head>
  <body>
    {% block content %}
    <h2 class="text-center">About Us</h2>
    <div class="container">
      <div class="row">
        
    <iframe
      width="560"
      height="315"
      src="https://www.youtube.com/embed/yXPlM7yMjYI?si=5LyE9xWyTJHF_-GS"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen
    ></iframe>
    
      <p>425-bedded super speciality tertiary care hospital is truly futuristic in its services & technology and brings together some of the most talented medical professionals in India. The hospital has been accredited with NABH and NABL accreditations and is equipped with state-of-the-art technology. The hospital provides preventive, diagnostic, therapeutic, rehabilitative, palliative and supportive services all under one roof and is designed to meet patient care and research requirements of the new millennium.
        The hospital is at Sector 21A, Faridabad, easily accessible from New Delhi International Airport, New Delhi Railway Station and New Delhi Interstate Bus Terminal.</p>
      </div>
    </div>
    {% endblock content %}
    <script src="" async defer></script>
  </body>
</html>
