<!DOCTYPE html>
{% extends "base.html" %}
{% load crispy_forms_tags %}
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block title %}{% endblock title %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        {% block content %}
        <hr>
        <h3 class="text-center">Booking</h3>
        <div class="container w=10 text-center bg-info my-5 mt-5">

        <form action="" method="post" w=20>
            {% comment %} {{form.as_p}} {% endcomment %}
            {% csrf_token %}
            {{form | crispy}}

         <button class="btn btn-primary" type='submit'>submit</button>
        </div>
        <hr>
        </form>
        {% endblock content %}
       
        
        <script src="" async defer></script>
    </body>
</html>